body {
  font-family:monospace;
  background-color: beige;
}

label {
  width:180px;
  text-align: right;
  padding-right:10px;
}

input {
  width:120px;
  margin-right: 20px;
}

table {
  width: 75%;
  border-collapse: collapse;
}

table, th {
  font-weight: bold;
  text-align: left;
}

#deleteHeader .deleteButtons {
  border-left: 1px solid;
  text-align: right;
}

table, tr {
  border: 1px solid;
}

td {
  font-weight: normal;
}
