body {
  font-family:monospace;
  background-color: lightgray;
}

label {
  width:180px;
  text-align: right;
  padding-right:10px;
}

input {
  width:120px;
  margin-right: 20px;
}

table {
  width: 70%;
  border-collapse: collapse;
}

table, th {
  font-weight: bold;
  text-align: left;
}

table, tr {
  border: 1px solid;
}

th {
  width: 120px;
}

td {
  font-weight: normal;
  width: 120px;
}

th#deleteHeader {
  border-left: 1px solid;
  width: 60px;
  text-align: right;
}

td.deleteButton {
  border-left: 1px solid;
  text-align: right;
  width: 60px;
}
